<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" parallaxHeader="/assets/images/500x300.png" [parallaxHeight]="300">
	<div class="main-content">
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
		<h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2><h2>Content</h2>
	</div>
</ion-content>
